@font-face {
  font-family: 'MyFont';
  src: url('../fonts/AlimamaShuHeiTi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  text-align: left;
  font-family: MyFont, MicrosoftYaHei, PingFangSC-Medium, PingFang SC;
}


[v-cloak] {
  display: none !important;
}

html,
body {
  height: 100%;
  background: #ffffff;
  -webkit-overflow-scrolling: touch;
  overflow-wrap: break-word;
  font-size: 16px;
  color: #fff;
  min-height: 400px;
  min-width: 1200px;
}
p {
  font-size: 16px;
  color: #fff;
}
.widAll {
  width: 100%;
}
.three-levelCon {
  padding: 0 24px;
}
.noneDiv {
  display: none !important;
}
#app {
  color: #2F2F2F;
  font-family: MyFont, PingFangSC-Medium, PingFang SC;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
}
.flexDiv {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.juspace{
  justify-content: space-between;
}
.jusAround {
  justify-content: space-around;
}
.juCenter {
  justify-content: center;
}
.alItemStart {
  align-items: flex-start;
  align-content: flex-start;
}
.alBetween {
  align-content: space-between;
}
.title36 {
  font-size: 36px;
}
.title34 {
  font-size: 34px;
}
.title32 {
  font-size: 32px;
}
.title30 {
  font-size: 30px;
}
.title28 {
  font-size: 28px;
}
.title26 {
  font-size: 26px;
}
.title24 {
  font-size: 24px;
}
.title22 {
  font-size: 22px;
}
.title20 {
  font-size: 20px;
}
.title18 {
  font-size: 18px;
}
.title16 {
  font-size: 16px;
}
.text12 {
  font-size: 12px;
}
.colorWhite {
  color: white;
}
.colorBlue {
  color: #7fe2e7;
}
.textCenter {
  text-align: center;
}

html {
  width: 6720px;
  height: 1260px;
}
.allPage {
  height: 100%;
  width: 100%;
  background: #011246 url("../images/bg.jpg") center center no-repeat;
  background-size: auto 100% !important;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.headerCls {
  width: 100%;
  height: 160px;
  text-align: center;
  font-size: 36px;
  color: white;
  align-items: start; 
  justify-content: center;
  font-size: 78px;
  letter-spacing: 12px;
}
.indexHeaderBg {
  background: url("../images/headBg.png") center bottom no-repeat;
  background-size: 110% 86% !important;
}
.moduleParent {
  width: 30%;
  height: auto;
  min-height: 200px;
  position: relative;
}
.moduleDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border: 1px solid #0D2451;
  padding: 4px;
  color: white;
}
.angle1,.angle2,.angle3,.angle4 {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 4;
}
.angle1 {
  top: 0;
  left: 0;
  border-top: 1px solid #1C5AB3;
  border-left: 1px solid #1C5AB3;
}
.angle2 {
  top: 0;
  right: 0;
  border-top: 1px solid #1C5AB3;
  border-right: 1px solid #1C5AB3;
}
.angle3 {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #1C5AB3;
  border-left: 1px solid #1C5AB3;
}
.angle4 {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #1C5AB3;
  border-right: 1px solid #1C5AB3;
}
.moduleCon {
  padding: 14px 10px;
}
.huoiDiv img {
  width: 22px;
  margin-right: 4px;
}
.modelBg01 {
  background: linear-gradient( 90deg, #000000 0%, #0A1225 74%, rgba(10,18,37,0.3) 100%) !important;
}
.modelBg02 {
  background: linear-gradient( 270deg, rgba(24,41,76,0.7) 0%, #0A1225 74%, rgba(0,0,0,0.15) 100%) !important;
}
.modelBg03 {
  background: linear-gradient( 270deg, rgba(24,41,76,0.7) 0%, #0A1225 74%, rgba(0,0,0,0.15) 100%) !important;
}
.modelBg04 {
  background: linear-gradient( 90deg, rgba(24,41,76,0.7) 0%, #0A1225 74%, rgba(0,0,0,0.15) 100%) !important;
}
.modelBg05 {
  background: linear-gradient( 90deg, rgba(24,41,76,0.7) 0%, #0A1225 74%, rgba(0,0,0,0.15) 100%) !important;
}
.modelBg06 {
  background: linear-gradient( 270deg, #000000 0%, #0A1225 74%, rgba(10,18,37,0.3) 100%) !important;
}
.modelBg07 {
  background: linear-gradient( 270deg, #000000 0%, #0A1225 74%, rgba(10,18,37,0.3) 100%) !important;
}
.rightFloatItem1,
.rightFloatItem2,
.rightFloatItem4,
.rightFloatItem5 {
  width: 16.5%;
  height:100%;
  overflow: hidden;
}
.rightFloatItem3 {
  width: 33%;
  height:100%;
  overflow: hidden;
}
.contentLeft {
  width: 100%;
  height:100%;
}
.contentCenter {
  /* width: calc(100% - 4650px);
  overflow: hidden; */
  width: 100%;
  height:100%;
}
.contentRight02 {
  width: 100%;
  align-content: space-between;
}
.newModule {
  width: 100%;
  height: auto;
  min-height: 170px;
  /* background: rgba(46,51,56,0.8); */
  background: rgba(119,170,200,0.1);
  /* background: rgba(19,33,78,0.36); */
  border-radius: 8px;
  box-shadow: 2px 2px 1px 0px rgba(111,132,142,0.4);
}
.contentRight02 > .newModule {
  justify-content: space-between;
}
.normalList p {
  margin: 4px 0;
  line-height: 1.3;
}
.contentRight {
  width: 580px;
}
.allLook {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 304;
}
.zhezhao {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #011246;
  z-index: 300;
  top: 0;
  left: 0;
}
.dv-border-box-10 svg,
.dv-border-box-1 svg,
.dv-border-box-11 svg,
.dv-border-box-12 svg,
.dv-border-box-13 svg {
  z-index: 2;
}
.dv-border-box-1 > svg{
  /* display: none !important; */
}
.dv-border-box-1 .border-box-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
.conetntDiv {
  padding: 20px;
  width: 100%;
  height: 100%;
}
.rightFloatItem {
  height: 100%;
}
.border-box-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 16px;
}
.newModuleTitle {
  width: 100%;
  height: 50px;
  color: white;
  padding: 0 6px 0 52px;
  position: relative;
  font-size: 28px;
  font-weight: 600;
  align-items: center;
}
.newModuleTitle01 {
  background: url('../images/titleImg/lincaoHitleBg.png') left center no-repeat !important;
  background-size: 100% auto !important;
}
.newModuleTitle02 {
  background: url('../images/titleImg/kanfaHitleBg.png') left center no-repeat !important;
  background-size: 90% auto !important;
}
.newModuleTitle03 {
  background: url('../images/titleImg/liangfaHitleBg.png') left center no-repeat !important;
  background-size: 94% auto !important;
}
.newModuleTitle04 {
  background: url('../images/titleImg/haihuHitleBg.png') left center no-repeat !important;
  background-size: 94% auto !important;
}
.newModuleTitle05 {
  background: url('../images/titleImg/lajiHitleBg.png') left center no-repeat !important;
  background-size: 100% auto !important;
}
.newModuleTitle06 {
  background: url('../images/titleImg/gongchengHitleBg.png') left center no-repeat !important;
  background-size: 100% auto !important;
}
.newModuleTitle07 {
  background: url('../images/titleImg/kuangshanHitleBg.png') left center no-repeat !important;
  background-size: 100% auto !important;
}
.lookIconmap,
.exchangeIcon,
.newModuleTitle .lookIcon {
  width: 34px;
  position: absolute;
  top: 3px;
  right: 14px;
  z-index: 5;
  cursor: pointer;
}
.lookIcon, .lookIconmap {
  display: none;
}
.lookIconmap {
  right: 11%;
}
/* .exchangeIcon {
  right: 54px
} */
.daoxu {
  flex-direction: column-reverse;
  justify-content: space-between;
}
.exchangeIcon img,
.lookIconmap img,
.newModuleTitle .lookIcon img {
  width: 100%;
  height: auto;
}
.blueColor {
  color: #7EBCFD;
  /* background: transparent; */
}
.mainColor {
  color: #97F9FF;
}
.huodianNum {
  width: 100%;
  height: 60px;
  color: white;
  padding-top: 0px;
  font-size: 20px;
  justify-content: center;
  position: relative;
  color: #ffe000;
  perspective: 200px; /* 设置透视 */
}
.huodianNum p{
  position: relative;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}

.huodianNum p::after{
  position: absolute;
  top: -5px;
  left: -5px;
  width: 80px;
  height: 80px;
  content: '';
  background: url('https://easyv.assets.dtstack.com/data/assets/twn4qe8zpq_1631783459961_ufhwaoyctm.png') center center no-repeat;
  background-size: 100% 100%  !important;
  animation: rotoImg 6s linear infinite;
  transform-origin: center; /* 设置旋转中心 */
}
@keyframes rotoImg{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  } 
}
.three-levelTitle {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 3px;
  color: #97F9FF;
  font-size: 24px;
}
.three-levelTitle img {
  width: 22px;
  margin-right: 6px;
}
.firePointCls {
  font-size: 12px;
}
.firePointCls .header {
  height: 32px;
  font-size: 12px !important;
  border-radius: 6px;
  background-image: none !important;
  background-color: #002D5E !important;
  position: relative;
}
.firePointCls .header::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  border-image: linear-gradient(90deg, rgba(0, 193, 233, 0), rgba(42, 191, 228, 1), rgba(0, 193, 231, 0)) 1 1;
}
.firePointCls .header-item {
  text-align: center;
  font-size: 16px !important;
  color: white;
  
}
.firePointCls .row-item div {
  text-align: center !important;
  font-size: 14px !important;
  color: #97F9FF !important;
}
.firePointCls .rows:nth-child(0) {
  width: 180px;
}
.dv-scroll-board {
  color: #75d6ff !important;
}
.youhaiList p{
  margin: 6px 0;
  line-height: 1.3;
}
.numBig {
  width: 100%;
  height: auto;
  position: relative;
  justify-content: flex-start;
  font-size: 20px;
  flex-wrap: wrap;
  padding-left: 16px;
  align-content: start;
}
.numBig img {
  margin-top: 14px;;
  margin-right: 2px;
  animation: numAfter 2s linear both infinite;
  
}
@keyframes numAfter{
  from, to{
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.numBig p {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
.shebei {
  width: 84px;
  height: 84px;
  text-align: center;
  /* background: url('https://easyv.assets.dtstack.com/data/assets/z2ygelgyf_1631780850744_r2wiwxjd5e.png') center bottom no-repeat;
  background-size: auto 100% !important; */
  border-radius: 12px;
}
.shebei img {
  width: 100%;
}

.lajiNum {
  width: 28%;
  height: 88px;
  position: relative;
  padding-top: 10px;
  justify-content: center;
}
@keyframes rotoImgz{
  from{
      transform: rotateZ(0deg);
  }
  to{
      transform: rotateZ(360deg);
  } 
}
.lajiNum img {
  width: 110px;
  margin-right: 6px;
  animation: numAfter 4s linear infinite;
}
.lajiNum p {
  color: white;
  width: 100%;
  margin: 0;
 
}
.orgColor {
  color:#f3cd6c
}
.zdCls {
  width: auto;
  padding: 0 112px;
  height: 80px;
  margin: 16px auto;;
  background: url('https://easyv.assets.dtstack.com/data/assets/qyuiytlbo6_1631780962690_vdae52j7sk.png') center center no-repeat;
  background-size: 100% 100% !important;
  color: white;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.zdCls p {
  width: 100%;
  text-align: center;
}
.kuangDiv {
  width: 20%;
  justify-content: center;
  color: white;
  padding: 16px 2% 0 2%;
}
.kuangDivCirCle {
  width: 70px;
  height: 70px;
}
.kuangDiv p {
  margin-top: 3px;
}
.fireInfo {
  color: white;
  width: 32.8%;
  margin-top: 12px;
  background: rgba(20,55,116,0.23);
  border-radius: 6px;
  /* height: 140px; */
  padding: 6px 12px;
}
.fireInfo .dv-border-box-13 {
  padding: 10px 10px 20px 10px;
}
.fireInfoHead {
  padding: 8px 14px;
  width: 100%;
  font-size: 18px;
  color: #fe8f62;
  border-bottom: 1px solid #6586ec;
}
.fireInfoCon {
  padding: 8px 14px;
}
.fireInfoCon p {
  margin: 6px 0;
  font-size: 14px;
}
.fireInfoQh {
  padding: 0 14px;
  font-size: 14px;
}
.fireInfoQh .flexDiv {
  margin: 6px 0;
}
.fireInfoQh .flexDiv > div{
  width: 50%;
}
.oneLevel {
  color: #f76a4e;
}
.twoLevel {
  color: #dc8a38;
}
.threeLevel {
  color: #e6b112;
}

.heliuNum {
  width: 25%;
}
.heliuNum02 {
  width: 50%;
  margin-bottom: 20px;
}
.heliuNum02 img {
  width: 54px;
  display: block;
  margin: 8px auto;
  
}
.heliuNum02 p {
  font-size: 14px;
}

.heliuNum .imgDiv {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: url('https://easyv.assets.dtstack.com/data/assets/2elfwrk5pq_1631783469436_kwcfahk3b.png') center center no-repeat;
  background-size: 100% auto !important;
  padding: 1px;
  margin: 0 auto;
}
.imgDiv img {
  display: block;
  margin: 15px auto;
  width: 40px;
}
.heliuCon {
  width: 100%;
  color: white;
  font-size: 14px;
  text-align: center;
  /* color: #19ccff; */
  
}
.heliuCon p {
  font-size: 14px;
  text-align: center;
  /* color: transparent; */
}
.mapDiv {
  padding: 0 12px;
  /* transform: scaleX(1.2); */
  transform-style: preserve-3d; /* 保持3D效果 */
  /* 添加旋转动画 */
  /* animation: alternate rotate 6s linear both infinite;  */
}

@keyframes rotate {
0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
50% {
    transform: rotateX(20deg) rotateY(10deg) rotateZ(-6deg);
}
100% {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
}

.mapDiv,.mapDiv01,.mapDiv02 {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.mapDiv01 {
  z-index: 1;
}
.mapDiv01 img {
  width: 1600px;
  display: block;
  margin: 0 auto;
}
.mapDiv02 {
  z-index: 2;
}
.mapDiv02 canvas {
  display: none;
}
.mapData {
  left: 240px;
  top: 50px;
  padding-bottom: 80px;
  align-content: flex-start;
  position: absolute;
  width: 26%;
  height: 100%;
  color: white;
  font-size: 14px;
}
.mapDataCon {
  background: url('https://easyv.assets.dtstack.com/data/assets/d8j5uaxx7r_1631780996367_sjreqv4cnr.png') center center no-repeat;
  background-size: 100% 100% !important;
  padding: 46px 46px 104px 67px;
  width: 700px;
  height: auto;
  overflow: hidden;
  border-radius: 14px;
  margin-top: 16px;
}
.mapDataCon > div {
  margin: 12px 0;
}
.shuikuItme {
  margin: 8px;
  color: white;
  width: 100%;
  padding: 10px 28px;
  background: url('https://easyv.assets.dtstack.com/data/assets/v9gpks7gte_1631781029996_rqqmryjtrg.png') center center no-repeat;
  background-size: 100% 100% !important;
}
.kfNum {
  width: 25%;
  justify-content: center;
  margin: 30px 0;
}
.kfNum img {
  width: 90px;
  margin-right: 6px;
}
.kfNum p {
  width: 100%;
}
.jslList {

}
.jslList > div {
  margin: 12px 0;
  font-size: 16px;
  color: white;
}

.tooplie {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 14px;
  border-radius: 6px;
  color: white;
  animation: tooplie01D 2s ease both infinite;
}
.tooplietitle {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.tooplie p {
  margin: 8px 0;
  line-height: 1.5;
}
.tooplie01 {
  top: 7%;
  left: 36%;
}
@keyframes tooplie01D{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.06);
  } 
}
.tooplie02 {
  top: 25%;
  left: 46%;
}
.tooplie03 {
  top: 63%;
  left: 22%;
}
.tooplie04 {
  top: 41%;
  left: 40%;
}
.tooplie05 {
  top: 7%;
  left: 66%;
}
.tooplie06 {
  top: 21%;
  left: 62%;
}
.tooplie07 {
  top: 61%;
  left: 52%;
}
.tooplie08 {
  top: 40%;
  left: 62%;
}
.tooplie09 {
  top: 11%;
  left: 42%;
}
.tooplie10 {
  bottom: 7%;
  left: 24%;
}
.tooplie11 {
  top: 62%;
  left: 41%;
}
.tooplie12 {
  bottom: 8%;
  left: 10%;
}

.liangweiData {
  width: 300px;
  height: 144px;
  background: url('../images/newImg/dataBg.png') center center no-repeat;
  background-size: 100% 100% !important;
  padding: 0 14px;
}
.liangweiData img {
  width: 110px;
  margin-right: 8px;
}

.newWeifabg {
  background: url('../images/newImg/pinBtm.png') center 70% no-repeat;
  background-size: 42% auto !important;
}

.child-draggable {
  pointer-events: none;
}

@media (min-width: 12000px) {
  html{
    transform: scaleX(1.875) scaleY(1.9) translateZ(0);
  }
}

.iframeDiv {
  position: fixed;
  background: url('../images/iframeBg2.png') center center no-repeat;
  background-size: 100% 100% !important;
  width: 32%;
  height: 85%;
  z-index: 200;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  align-content: flex-start;
  align-items: flex-start;
  padding: 4px 6px;
}
.iframeDiv > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.iframeDiv > div iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.iframeDiv > div .imfDiv {
  width: 60px;
  position: absolute;
  top: 10px;
  right: 4%;
  z-index: 20;
}
.iframeDiv > div .imfDiv img {
  width: 100%;
  height: auto;
}
iframe {
  border: none;
}